.anchor {
    
-fx-background-image:url('../imagens/back-fundo-servidor.jpg');
	
-fx-background-size: 900px;
    
-fx-background-repeat: no-repeat;
    
-fx-background-position: 50%;
 	
-fx-background-width:900px;

-fx-background-height:600px;
	

}


.anchorOpacidadeMedia{
   
 -fx-background-image:url('../imagens/logoFundoOpacidadeMedia.jpg');
	
-fx-background-size: 900px;
   
 -fx-background-repeat: no-repeat;
   
 -fx-background-position: 50%;
 	
-fx-background-width:500px;


}


.anchor2 {
    
-fx-background-image:url('../imagens/logoFundoOpacidadeMedia.jpg');
	
-fx-background-size: 1100px;
   
 -fx-background-repeat: no-repeat;
  
  -fx-background-position: 50%;
 	
-fx-background-width:650px;
	
}


.anchor3 {
   
 -fx-background-image:url('../imagens/logoFundoOpacidadeMedia.jpg');
	
-fx-background-size: 1300px;
    
-fx-background-repeat: no-repeat;
   
 -fx-background-position: 50%;

-fx-background-width:700px;
	

}

